html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

.scores-wrapper .score .form-control {
    display: inline-block;
    width: auto;
}

.round-wrapper label {
    display: block;
    width: 100%;
}

.round-wrapper .form-control {
    display: inline-block;
    width: 65%;
}

/* tie break */
.tie-break {
  font-size: 3em;
  font-weight: bold;
}

/* current-round */

.current-round {
    border-bottom: 1px solid #909090;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.current-round .current-round-suit,
.current-round .current-round-dealer {
    font-size: 10em;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-round .current-round-super-trump,
.current-round .current-round-current-bids {
  font-size: 0.25em;
  border-top: 1px solid #909090;
}

.current-round .current-round-dealer .current-round-dealer-restriction {
    font-size: 0.25em;
}

/* players-wrapper */

.players-wrapper .player {
    font-size: 2.5em;
}

/* Card */

.card {
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}

.card.card-size-large {
    height: 400px;
    width: 300px;
    font-size: 200px;
    line-height: 200px;
}

.card.card-size-small {
    height: 80px;
    width: 60px;
    font-size: 40px;
    line-height: 40px;
}

.card.card-suit-S,
.card.card-suit-C,
.card.card-suit-N {
    color: #000000;
}

.card.card-suit-D,
.card.card-suit-H {
    color: #FC0000;
}
