<div class="row">
  <div class="col-sm">
    <h2>Game History</h2>
  </div>
  <div class="col-sm text-right">
    <button type="button" class="btn btn-info btn-sm" ng-click="History.exportAllGames(game)">Export All Games</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="History.importFile()">Import Games</button>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <table st-table="History.games" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Rounds</th>
          <th>Leaderboard</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in History.games">
          <td>
            {{ game.startTime | date : 'EEEE dd MMMM yyyy HH:mm:ss' }}
          </td>
          <td ng-if="game.isFinished">
            {{ game.endTime | date : 'EEEE dd MMMM yyyy HH:mm:ss' }}
          </td>
          <td ng-if="!game.isFinished">
            Incomplete (On Round {{ game.currentRound.index + 1 }})
          </td>
          <td>
            {{ game.rounds.length }}
          </td>
          <td>
            <div ng-repeat="leaderboard in game.leaderboard">
              {{ leaderboard.player }} - {{ leaderboard.points }}
            </div>
          </td>
          <td>
            <a class="btn btn-primary btn-sm" href="#!/game/{{game.id}}">Open Game</a>
            <button type="button" class="btn btn-info btn-sm" ng-click="History.exportGame(game.id)">Export Game</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="History.deleteGame(game)">Delete Game</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br><br>

<h2>Graphs</h2>

<div class="row">
  <div class="col-sm">
    <input type="checkbox" id="history-charts-average" name="history-charts-average" ng-change="History.loadCharts()" ng-model="History.useAverage" />
    <label for="history-charts-average">Use Average</label>
  </div>
  <div class="col-sm">
    <input type="checkbox" id="history-charts-incomplete" name="history-charts-incomplete" ng-change="History.loadCharts()" ng-model="History.useIncomplete" />
    <label for="history-charts-incomplete">Use Incomplete Games</label>
  </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Scores
            </div>
            <div class="card-body">
                <canvas id="chart-bid-scores" height="150px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Accuracy
            </div>
            <div class="card-body">
                <canvas id="chart-bid-accuracy" height="150px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Bid Counts
            </div>
            <div class="card-body">
                <canvas id="chart-bid-counts" height="150px"></canvas>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<h2>Player Statistics</h2>

<table st-table="History.stats" class="table table-striped table-bordered sortable-theme-bootstrap" data-sortable>
  <thead>
    <tr>
      <th>Player</th>
      <th>Games</th>
      <th>Rounds</th>
      <th data-sortable id="default-sort">Points</th>
      <th>Wins</th>
      <th>Win %</th>
      <th>Blind Bids</th>
      <th>Blind Bid %</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(player, stat) in History.stats">
      <td>{{ player }}</td>
      <td>{{ stat.games }}</td>
      <td>{{ stat.rounds }}</td>
      <td>{{ stat.points }}</td>
      <td>{{ stat.wins }}</td>
      <td>{{(100*stat.wins/stat.games)| number:0}}%</td>
      <td>{{ stat.blindBids }}</td>
      <td>{{(100*stat.blindBids/stat.rounds)| number:0}}%</td>
    </tr>
  </tbody>
</table>
