<div class="row">
  <div class="col-sm">
    <h2>Game History</h2>
  </div>
  <div class="col-sm text-right">
    <button type="button" class="btn btn-info btn-sm" ng-click="History.exportAllGames(game)">Export All Games</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="History.importFile()">Import Games</button>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <table st-table="History.games" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Rounds</th>
          <th>Leaderboard</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game in History.games">
          <td>
            {{ game.startTime | date : 'EEEE dd MMMM yyyy HH:mm:ss' }}
          </td>
          <td ng-if="game.isFinished">
            {{ game.endTime | date : 'EEEE dd MMMM yyyy HH:mm:ss' }}
          </td>
          <td ng-if="!game.isFinished">
            Incomplete (On Round {{ game.currentRound.index + 1 }})
          </td>
          <td>
            {{ game.rounds.length }}
          </td>
          <td>
            <div ng-repeat="leaderboard in game.leaderboard">
              {{ leaderboard.player }} - {{ leaderboard.points }}
            </div>
          </td>
          <td>
            <a class="btn btn-primary btn-sm" href="#!/game/{{game.id}}">Open Game</a>
            <button type="button" class="btn btn-info btn-sm" ng-click="History.exportGame(game.id)">Export Game</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="History.deleteGame(game)">Delete Game</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br><br><br>

<h2>Graphs</h2>

<div class="row">
  <div class="col-sm">
    <input type="checkbox" id="history-charts-average" name="history-charts-average" ng-change="History.loadCharts()" ng-model="History.useAverage" />
    <label for="history-charts-average">Use Average</label>
  </div>
  <div class="col-sm">
    <input type="checkbox" id="history-charts-incomplete" name="history-charts-incomplete" ng-change="History.loadCharts()" ng-model="History.useIncomplete" />
    <label for="history-charts-incomplete">Use Incomplete Games</label>
  </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Scores
            </div>
            <div class="card-body">
                <canvas id="chart-bid-scores" height="150px"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Accuracy
            </div>
            <div class="card-body">
                <canvas id="chart-bid-accuracy" height="150px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                Bid Counts
            </div>
            <div class="card-body">
                <canvas id="chart-bid-counts" height="150px"></canvas>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<h2>Records</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Record</th>
            <th>Player</th>
            <th>Score</th>
            <th>Days held</th>
            <th>Number of players</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Highest score</td>
            <td>{{History.highestScore.player.join(", ")}}</td>
            <td>{{History.highestScore.points}}</td>
            <td>{{History.highestScore.days.join(", ")}}</td>
            <td>{{History.highestScore.numplayers.join(", ")}}</td>
        </tr>
        <tr>
            <td>Lowest score</td>
            <td>{{History.lowestScore.player.join(", ")}}</td>
            <td>{{History.lowestScore.points}}</td>
            <td>{{History.lowestScore.days.join(", ")}}</td>
            <td>{{History.lowestScore.numplayers.join(", ")}}</td>
        </tr>
        <tr>
            <td>Longest winning streak</td>
            <td>{{History.winStreak.player.join(", ")}}</td>
            <td>{{History.winStreak.points}} days</td>
            <td>{{History.winStreak.days}}</td>
            <td>{{History.winStreak.numplayers}}</td>
        </tr>
        <tr>
            <td>Longest losing streak</td>
            <td>{{History.loseStreak.player.join(", ")}}</td>
            <td>{{History.loseStreak.points}} days</td>
            <td>{{History.loseStreak.days}}</td>
            <td>{{History.loseStreak.numplayers}}</td>
        </tr>
    </tbody>
</table>

<br><br><br>
<h2>Player Ratings</h2>

<table ng-if="History.ratings" st-table="History.ratings" class="table table-striped table-bordered sortable-theme-bootstrap">
  <thead>
    <tr>
      <th st-sort="player">Player</th>
      <th st-sort="games">Games</th>
      <th st-sort="bruce" title="Points awarded based on number of players">Bruce Scoring</th>
      <th st-sort="bruceAverage" st-sort-default="reverse">Bruce Scoring Average</th>
      <th st-sort="scoring321" title="3 points for win, 2 for 2nd, 1 for 3rd">3-2-1 Scoring</th>
      <th st-sort="scoring321Average">3-2-1 Scoring Average</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stat in History.ratings">
      <td>{{ stat.player }}</td>
      <td>{{ stat.games | number : 0 }}</td>
      <td>{{ stat.bruce | number : 0 }}</td>
      <td>{{ stat.bruceAverage | number : 2 }}</td>
      <td>{{ stat.scoring321 | number : 0 }}</td>
      <td>{{ stat.scoring321Average | number : 2 }}</td>
    </tr>
  </tbody>
</table>

<br><br><br>
<h2>Player Statistics</h2>

<table ng-if="History.stats" st-table="History.stats" class="table table-striped table-bordered sortable-theme-bootstrap">
  <thead>
    <tr>
      <th st-sort="player">Player</th>
      <th st-sort="games">Games</th>
      <th st-sort="winPercentage" st-sort-default="reverse">Wins (%)</th>
      <th st-sort="points">Points</th>
      <th st-sort="averagePoints">Average Points</th>
      <th st-sort="maxPoints">Max Points</th>
      <th st-sort="minPoints">Min Points</th>
      <th st-sort="rounds">Rounds</th>
      <th st-sort="roundsWon">Rounds Won (%)</th>
      <th st-sort="blindBids">Blind Bids (% of rounds)</th>
      <th st-sort="blindBidsWon">BB Won (%)</th>
      <th st-sort="gamesSinceWin">Games since last win</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stat in History.stats">
      <td>{{ stat.player }}</td>
      <td>{{ stat.games | number : 0 }}</td>
      <td>{{ stat.wins | number : 0 }} ({{ stat.winPercentage | number : 0 }}%)</td>
      <td>{{ stat.points | number : 0 }}</td>
      <td>{{ stat.averagePoints | number : 0 }}</td>
      <td>{{ stat.maxPoints | number : 0 }}</td>
      <td>{{ stat.minPoints | number : 0 }}</td>
      <td>{{ stat.rounds | number : 0 }}</td>
      <td>{{ stat.roundsWon | number : 0 }} ({{ stat.roundsWonPercentage | number : 0 }}%)</td>
      <td>{{ stat.blindBids | number : 0 }} ({{ stat.blindBidsPercentage | number : 0 }}%)</td>
      <td>{{ stat.blindBidsWon | number : 0 }} ({{ stat.blindBidsWonPercentage | number : 0 }}%)</td>
      <td>{{ stat.gamesSinceWin }}</td>
    </tr>
  </tbody>
</table>
