<div class="app" ng-if="Game.game">
    <div class="row">
        <div class="col-xl pb-3 mb-3 border border-top-0 border-right-0 border-left-0 border-dark">
            <div class="row" ng-if="Game.game.isFinished">
                <div class="col-sm" style="font-size:3em;" ng-repeat="leader in Game.game.leaderboard">
                    <div class="text-ellipsis">{{leader.player}}</div>
                    <div>{{leader.points}}</div>
                </div>
            </div>
            <div ng-if="!Game.game.isFinished">
                <div class="col-md text-center tie-break" ng-show="Game.game.isLeaderTied">
                    Tie Break Round!
                </div>

                <!-- full score table view -->
                <div ng-show="App.showFullScore">
                    <div class="row players-wrapper text-center">
                        <div class="col-md">Round</div>
                        <div class="col-md player" ng-repeat="(playerIndex, player) in Game.game.settings.players">
                            <div class="text-ellipsis">{{player}}</div>
                            <div class="text-small">Points: {{Game.gameService.calculateTotalPoints(Game.game, playerIndex)}}</div>
                        </div>
                    </div>
                    <div class="row scores-wrapper" ng-repeat="(roundIndex, round) in Game.game.rounds">
                        <div class="col-md">{{round.cardCount}}{{round.card.suit}} - {{Game.game.settings.players[round.dealer]}}</div>
                        <div class="col-md score" ng-repeat="(playerIndex, player) in Game.game.settings.players">
                            <input type="checkbox" ng-model="Game.game.rounds[roundIndex].players[playerIndex].blind" ng-show="Game.eligibleForBlindBid(playerIndex, roundIndex)" title="Blind Bid" />
                            <input type="number" min="0" max="10" class="form-control" title="Bid" placeholder="Bid" ng-model="Game.game.rounds[roundIndex].players[playerIndex].bid" />
                            <input type="number" min="0" max="10" class="form-control" title="Tricks Won" placeholder="Tricks Won" ng-model="Game.game.rounds[roundIndex].players[playerIndex].tricks" /> {{Game.game.rounds[roundIndex].players[playerIndex].points}}
                        </div>
                    </div>
                </div>

                <!-- individual round view -->
                <div ng-show="!App.showFullScore">
                    <div class="col-md text-center current-round">
                        <div class="row">
                            <div class="col-md">
                                <h3>Dealer</h3>
                                <p>{{Game.game.settings.players[Game.game.rounds[Game.game.currentRound.index].dealer]}}</p>
                                <p>{{Game.calculateBidderRestriction(Game.game.currentRound.index)}}</p>
                            </div>
                            <div class="col-md">
                                <h3>Cards</h3>
                                <p class="largest-text">
                                    {{Game.game.rounds[Game.game.currentRound.index].cardCount}}
                                    <suit suit="Game.game.rounds[Game.game.currentRound.index].card.suit"></suit>
                                </p>
                            </div>
                            <div class="col-md d-none d-lg-block">
                                <h3>Bids</h3>
                                <p>
                                    There are
                                    <span ng-class="{
                                'underbid': Game.calculateTotalBids(Game.game.currentRound.index) < Game.game.rounds[Game.game.currentRound.index].cardCount,
                                'accurate-bid': Game.calculateTotalBids(Game.game.currentRound.index) === Game.game.rounds[Game.game.currentRound.index].cardCount,
                                'overbid': Game.calculateTotalBids(Game.game.currentRound.index) > Game.game.rounds[Game.game.currentRound.index].cardCount,
                            }">{{Game.calculateTotalBids(Game.game.currentRound.index)}} </span> bids from <b>{{Game.game.rounds[Game.game.currentRound.index].cardCount}}</b> possible wins
                                </p>
                                <p>{{Game.calculateBlindBidsDescription(Game.game.currentRound.index)}}</p>
                            </div>
                            <div class="col-md" ng-if="Game.game.settings.allowSuperTrump">
                                <h3>Super Trump</h3>
                                <p ng-if="Game.game.rounds[Game.game.currentRound.index].card.suit === 'N'">
                                    N/A for No Trumps
                                </p>
                                <card ng-if="Game.game.rounds[Game.game.currentRound.index].card.suit !== 'N'" suit="Game.game.rounds[Game.game.currentRound.index].card.suit" name="Game.game.rounds[Game.game.currentRound.index].card.name" size="small"></card>
                            </div>
                        </div>
                    </div>

                    <div class="row players-wrapper text-center">
                        <div class="col-md player" ng-repeat="playerIndex in Game.game.rounds[Game.game.currentRound.index].order">
                            <div class="text-ellipsis">{{Game.game.settings.players[playerIndex]}}</div>
                            <div class="text-small">Points: {{Game.gameService.calculateTotalPoints(Game.game, playerIndex)}}</div>

                            <div class="round-wrapper">
                                <div class="col-md" ng-if="!Game.game.currentRound.started">
                                    <label>
                                        Bid
                                        <input
                                            type="number"
                                            ng-attr-name="Player{{playerIndex}}Bid"
                                            class="form-control"
                                            ng-model="Game.game.rounds[Game.game.currentRound.index].players[playerIndex].bid"
                                            ng-minlength="0"
                                            ng-maxlength="Game.game.rounds[Game.game.currentRound.index].cardCount"
                                            ng-disabled="Game.bidIsDisabled($index, playerIndex)"
                                            focus-if="$index === 0"
                                        />
                                    </label>

                                    <div style="font-size:12px;" class="alert alert-danger" ng-show="Game.hasDealerBidIllegally(playerIndex)">Dealer cannot make this bid</div>

                                    <label ng-show="Game.eligibleForBlindBid(playerIndex, Game.game.currentRound.index)">
                                        Blind Bid
                                        <input type="checkbox" ng-model="Game.game.rounds[Game.game.currentRound.index].players[playerIndex].blind" />
                                    </label>
                                </div>

                                <div class="col-md" ng-if="Game.game.currentRound.started">
                                    <label>
                                        Tricks {{Game.game.rounds[Game.game.currentRound.index].players[playerIndex].bid}} /
                                        <input type="number" min="0" max="10" class="form-control" ng-model="Game.game.rounds[Game.game.currentRound.index].players[playerIndex].tricks" focus-if="$index === 0" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <button
                                class="btn btn-primary"
                                ng-click="Game.startRound()"
                                ng-show="!Game.game.currentRound.started"
                                ng-disabled="!Game.canStartRound()"
                            >Start Round</button>
                            <button
                                class="btn btn-primary"
                                ng-click="Game.nextRound()"
                                ng-show="Game.game.currentRound.started"
                                ng-disabled="!Game.canProgressToNextRound()"
                            >Next Round</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Scores
                </div>
                <div class="card-body">
                    <canvas id="chart-bid-scores" height="150px"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Accuracy
                </div>
                <div class="card-body">
                    <canvas id="chart-bid-accuracy" height="150px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    Bid Counts
                </div>
                <div class="card-body">
                    <canvas id="chart-bid-counts" height="150px"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" ng-if="!Game.game">
    <div class="col-md">
        <div class="settings-wrapper col-md-8 mx-auto">
            <h2>Start new game</h2>

            <h3>Players</h3>

            <div class="form-group">
                <label for="new-player-name">New Player</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="new-player-name" placeholder="Name" ng-model="Game.newPlayerName" />
                    <span class="input-group-addon btn btn-primary" ng-click="Game.addNewPlayer()"><i class="icons-user-plus"></i> Add player</span>
                </div>
            </div>

            <div ng-repeat="(playerIndex, player) in Game.settings.players" class="mb-1">
                {{player}}
                <button class="btn btn-primary" title="Move player up" ng-click="Game.movePlayerUp(playerIndex)"><i class="icons-move-up"></i></button>
                <button class="btn btn-primary" title="Move player down" ng-click="Game.movePlayerDown(playerIndex)"><i class="icons-move-down"></i></button>
                <button class="btn btn-danger" title="Remove player" ng-click="Game.removePlayer(playerIndex)"><i class="icons-user-minus"></i></button>
            </div>

            <h3>Rounds</h3>

            <div class="form-group">
                <label for="first-round">Cards in First Round</label>
                <input type="number" min="1" max="10" class="form-control" id="first-round" placeholder="Number of cards" ng-model="Game.settings.cardsInFirstRound" />
            </div>
            <div class="form-group">
                <label for="last-round">Cards in Last Round</label>
                <input type="number" min="1" max="10" class="form-control" id="last-round" placeholder="Number of cards" ng-model="Game.settings.cardsInLastRound" />
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="mirror-round" ng-model="Game.settings.mirrorRounds" class="custom-control-input">
                    <label for="mirror-round" class="custom-control-label">Mirror rounds</label>
                </div>
            </div>

            <h3>Trumps</h3>

            <div class="form-row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="allow-no-trumps" ng-model="Game.settings.allowNoTrumps" class="custom-control-input">
                        <label for="allow-no-trumps" class="custom-control-label">Allow no trumps</label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="allow-super-trump" ng-model="Game.settings.allowSuperTrump" class="custom-control-input">
                        <label for="allow-super-trump" class="custom-control-label">Show super trump</label>
                    </div>
                </div>
            </div>

            <h3>Points Per Trick</h3>

            <div class="form-row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-win-per-trick" ng-model="Game.settings.winPointsPerTrick" class="custom-control-input" />
                        <label for="points-win-per-trick" class="custom-control-label">Award points per trick won</label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-win-per-trick-successful" ng-model="Game.settings.winPointsPerTrickIfSuccessful" class="custom-control-input" />
                        <label for="points-win-per-trick-successful" class="custom-control-label">Only award points for successful trick</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-win-per-trick-zero" ng-model="Game.settings.winPointsPerTrickIfZero" class="custom-control-input" />
                        <label for="points-win-per-trick-zero" class="custom-control-label">Award half a point for zero</label>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-lose-per-difference" ng-model="Game.settings.losePointsPerDifference" class="custom-control-input" />
                        <label for="points-lose-per-difference" class="custom-control-label">Lose points per trick/bid difference</label>
                    </div>
                </div>
            </div>

            <h3>Points On Success</h3>

            <div class="form-group">
                <label for="points-successful-bid">Successful bid bonus points</label>
                <input type="number" min="0" max="30" class="form-control" id="points-successful-bid" placeholder="Fixed points" ng-model="Game.settings.pointsSuccessfulBid" />
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-successful-bid-variable" ng-model="Game.settings.pointsSuccessfulVariable" class="custom-control-input" />
                        <label for="points-successful-bid-variable" class="custom-control-label">Bonus points equal to no. of cards dealt</label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-successful-bid-inverse" ng-model="Game.settings.pointsSuccessfulInverse" class="custom-control-input" />
                        <label for="points-successful-bid-inverse" class="custom-control-label">Bonus points inverse to the no. of cards dealt</label>
                    </div>
                </div>
            </div>

            <h3>Points On Failure</h3>

            <div class="form-group">
                <label for="points-unsuccessful-bid">Bonus points for unsuccessful bid</label>
                <input type="number" min="-30" max="0" class="form-control" id="points-unsuccessful-bid" placeholder="Bonus points" ng-model="Game.settings.pointsUnsuccessfulBid" />
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-unsuccessful-bid-variable" ng-model="Game.settings.pointsUnsuccessfulVariable" class="custom-control-input" />
                        <label for="points-unsuccessful-bid-variable" class="custom-control-label">Reduce bonus points equal to the no. of cards dealt</label>
                    </div>
                </div>

                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="points-unsuccessful-bid-inverse" ng-model="Game.settings.pointsUnsuccessfulInverse" class="custom-control-input" />
                        <label for="points-unsuccessful-bid-inverse" class="custom-control-label">Reduce bonus points inverse to the no. of cards dealt</label>
                    </div>
                </div>
            </div>

            <h3>Blind Bidding</h3>

            <div class="form-group">
                <label for="blind-bid-points-threshold">Blind bidding points behind leader threshold</label>
                <input type="number" min="0" max="30" class="form-control" id="blind-bid-points-threshold" placeholder="Points" ng-model="Game.settings.blindBidThreshold" />
            </div>

            <div class="form-group">
                <label for="blind-bid-bonus">Blind bidding fixed bonus points</label>
                <input type="number" min="0" max="30" class="form-control" id="blind-bid-bonus" placeholder="Bonus points" ng-model="Game.settings.blindBidBonus" />
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="blind-bid-double" ng-model="Game.settings.blindBidDouble" class="custom-control-input" />
                    <label for="blind-bid-double" class="custom-control-label">Double the points in a round by blind bidding</label>
                </div>
            </div>

            <button class="btn btn-success" ng-click="Game.startGame()">Start game</button>
        </div>
    </div>
</div>
